body {
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(to bottom,
      #dcdcdc 50%,
      #e9e9e9 50%);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.search-bar {
  border: 1px solid gray;
}

.search-bar form input[type='text'] {
  border: 0px solid;
  text-align: center;
}

.search-bar form input[type='text']:focus {
  outline: none;
}

.search-results-top {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.location-name {
  margin-right: 12px;
}

.search-results-bottom {
  padding-top: 40px;
}

.temperature {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.temperature-description {
  font-size: 1.2rem;
}