body {
  min-height: 100vh;
  margin: 0;
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", serif;
}

.main-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
}

.search-bar {
  border: 1px solid gray;
  border-radius: 10px;
}

.search-bar form input[type='text'] {
  border: 0px solid;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-bar form input[type='text']:focus {
  outline: none;
}

.search-bar form button {
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
}

.search-results-top {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.location-name {
  margin-right: 12px;
  font-weight: 600;
}

.search-results-bottom {
  padding-top: 40px;
}

#weather-icon {
  font-size: 4rem;
}

.temperature {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.temperature-description {
  font-size: 1.2rem;
}